<div class="card">
    <img class="card-img-top" src="https://dummyimage.com/600x400/000/fff" alt="Card image cap">
    <div class="card-body">
    <h4 class="card-title">Milk</h4>
    <h6 class="card-text">$12.00</h6>
    </div>
    <div class="card-footer">
        <div class="row no-gutters">
            <div class="col-3">
            <button class="btn btn-secondary" type="button">+</button>
            </div>
            <div class="col-6 text-center items-count">
            1 in cart
            </div>
            <div class="col-3">
            <button class="btn btn-secondary" type="button">-</button>
            </div>
        </div>
    </div>
</div>