<div class="card">
    <img class="card-img-top" [src]="product.imageUrl" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">{{product.title}}</h4>
      <h6 class="card-text">{{product.price | currency}}</h6>
    </div>
    <div class="card-footer">
      <button *ngIf="!quantity" class="btn btn-info" type="button" (click)="addToCart(product)">Add to cart</button>
      <div *ngIf="quantity" class="row no-gutters">
        <div class="col-3">
          <button class="btn btn-secondary" type="button"
            (click)="addToCart(product)">+</button>
        </div>
        <div class="col-6 text-center items-count">
          {{quantity}} in cart
        </div>
        <div class="col-3">
          <button class="btn btn-secondary" type="button"
            (click)="subFromCart(product)">-</button>
        </div>
      </div>
    </div>
</div>