<h1>Orders</h1>
<table class="table">
  <thead>
    <tr>
      <th>Customer</th>
      <th>Date</th>
      <th>Amount</th>
      <th>Completed</th>
      <th class="text-center" width="180">Actions</th>
    </tr>
  </thead> 
  <tbody>
    <tr *ngFor="let order of orders">
      <td>{{ order.name }}</td>
      <td>{{ order.datePlaced | date}}</td>
      <td>{{ order.amount | currency}}</td>
      <td>{{ order.isComplete ? 'Yes' : 'No'}}</td>
      <td>
        <button *ngIf="!order.isComplete" type="button"
          (click)="markOrderComplete(order)" class="btn btn-success">Mark complete</button>
      </td>
    </tr>
  </tbody> 
</table>