<div class="row">
    <div class="col-md-6">
        <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="title">Title</label>
                <input formControlName="title"
                    type="text" id="title" class="form-control" />
                <div class="alert alert-danger" *ngIf="!productForm.get('title').pristine && !productForm.get('title').valid">
                    <div *ngIf="productForm.get('title').errors.required">
                        Title is required.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">$</span>
                    </div>
                    <input min="0" max="9999" formControlName="price"
                        type="number" id="price" class="form-control" />
                </div>
                <div class="alert alert-danger"
                    *ngIf="!productForm.get('price').pristine && !productForm.get('price').valid">
                    <div *ngIf="productForm.get('price').errors.required">
                        Price is required.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="category">Category</label>
                <select formControlName="category" id="category" class="form-control">
                    <option *ngFor="let item of categories" [ngValue]="item.name">
                        {{item.name}}
                    </option>
                </select>
                <div class="alert alert-danger"
                    *ngIf="!productForm.get('category').pristine && !productForm.get('category').valid">
                    <div *ngIf="productForm.get('category').errors.required">
                        Category is required.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="imageUrl">Image Url</label>
                <input formControlName="imageUrl"
                    type="text" id="imageUrl" class="form-control" />
                <div class="alert alert-danger"
                    *ngIf="!productForm.get('imageUrl').pristine && !productForm.get('imageUrl').valid">
                    <div *ngIf="productForm.get('imageUrl').errors.required">
                        Image Url is required.
                    </div>
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-primary" [disabled]="!productForm.valid">Submit</button>
                <a class="btn btn-default" routerLink="/admin/products">Cancel</a>
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <div class="card">
            <img class="card-img-top" src="{{this.productForm.get('imageUrl').value || 'https://dummyimage.com/600x220/000/fff'}}" alt="Card image cap">
            <div class="card-body">
              <h2 class="card-title">{{this.productForm.get('title').value || 'Add Title'}}</h2>
              <h5 class="card-text">{{this.productForm.get('category').value || 'Add Category'}}</h5>
            </div>
        </div>
    </div>
</div>