<div class="row">
    <div class="col-md-6">
        <form [formGroup]="productform" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="title">Title</label>
                <input formControlName="title" type="text" id="title" class="form-control" />
                <div
                    *ngIf="productform.controls.title.dirty && !productform.controls.title.valid"
                    class="alert alert-danger"
                >
                    <div *ngIf="productform.controls.title.errors.required">
                        Title is required.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">$</span>
                    </div>
                    <input formControlName="price" min="0" max="9999" type="number" id="price" class="form-control" />
                </div>
                <div
                    *ngIf="productform.controls.price.dirty && !productform.controls.price.valid"
                    class="alert alert-danger"
                >
                    <div *ngIf="productform.controls.price.errors.required">
                        Price is required.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="category">Category</label>
                <select formControlName="category" id="category" class="form-control">
                    <option *ngFor="let category of categories" [value]="category.name">
                        {{category.name}}
                    </option>
                </select>
                <div
                    *ngIf="productform.controls.category.dirty && !productform.controls.category.valid"
                    class="alert alert-danger"
                >
                    <div *ngIf="productform.controls.category.errors.required">
                        Category is required.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="imageUrl">Image Url</label>
                <input formControlName="imageUrl" type="text" id="imageUrl" class="form-control" />
                <div
                    *ngIf="productform.controls.imageUrl.dirty && !productform.controls.imageUrl.valid"
                    class="alert alert-danger"
                >
                    <div *ngIf="productform.controls.imageUrl.errors.required">
                        Image Url is required.
                    </div>
                </div>
            </div>
            <div>
                <button
                    [disabled]="productform.invalid"
                    type="submit" class="btn btn-primary"
                >Submit</button>
                <a class="btn btn-default">Cancel</a>
            </div>
        </form >
    </div>
    <div class="col-md-6">
        <div class="card">
            <img class="card-img-top" src="{{productform.controls.imageUrl.value ? productform.controls.imageUrl.value : 'https://dummyimage.com/600x220/000/fff'}}" alt="Card image cap">
            <div class="card-body">
              <h2 class="card-title">{{productform.controls.title.value ? productform.controls.title.value : 'Add title'}}</h2>
              <h5 class="card-text">{{productform.controls.category.value ? productform.controls.category.value : 'Select Category'}}</h5>
            </div>
        </div>
    </div>
</div>