  <div class="row">
    <div class="col-md-3">
        <div class="sticky-top">
            <ul class="list-group">
                <li
                  [class.active]="category.isActive"
                  *ngFor="let category of categories"
                  (click)="filterProducts(category)" class="list-group-item cursor-pointer">
                    {{category.name}}
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
          <div class="col-lg-4 col-sm-6 col-12">
            <app-product-card></app-product-card>
          </div>
          <div class="col-lg-4 col-sm-6 col-12">
            <app-product-card></app-product-card>
          </div>
          <div class="col-lg-4 col-sm-6 col-12">
            <app-product-card></app-product-card>
          </div>
        </div>
    </div>
</div>