  <div class="row">
    <div class="col-md-3">
        <div class="sticky-top">
            <ul class="list-group">
                <li class="list-group-item cursor-pointer active">
                    All Categories
                </li>
                <li class="list-group-item cursor-pointer">
                    Fruits
                </li>
                <li class="list-group-item cursor-pointer">
                    Bread
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
          <div class="col-lg-4 col-sm-6 col-12">
            <app-product-card></app-product-card>
          </div>
          <div class="col-lg-4 col-sm-6 col-12">
            <app-product-card></app-product-card>
          </div>
          <div class="col-lg-4 col-sm-6 col-12">
            <app-product-card></app-product-card>
          </div>
        </div>
    </div>
</div>